//- layout.pug
doctype html
html
  head
    title My Site - #{title}
    block scripts
    block style
      
  body
    
    nav#navbar
       ul  
         div#logo 
            img(src="/static/danlogo.png")
            |  HDA
         li #[a(href="/") Home]
         li #[a(href="/contact") Contact Us]
         li #[a(href="/") Services] 
         li #[a(href="/") About]
         li #[a(href="/") Class Info]
    block content
    footer#footer
        | Copyright 2019 SakshiDanceAcademy.com |All rights reserved   