@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    background-color: rgb(139 58 58);
    padding: 18px 14px;
}
#navbar ul{
display: flex;
flex-direction: row;
align-items: center;
}
#navbar li{
list-style: none;
}
#navbar li a{
text-decoration: none;
padding: 13px 30px;
color: white;
font-size: 30px;
}
#navbar li a:hover{
    color: black;
    }
#introSection{
    padding-bottom: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: center/cover no-repeat url("/static/ddd.jpg");
height: 420px;
background-color: red;
flex-direction: column;
font-family: 'Roboto', sans-serif;
font-size: 64px;
}

#introSection div.small{
    font-size: 50px;
    padding: 5px;
}

#sponsorsSection{
height: 300px;
background-color: rgba(202, 127, 139, 0.821)
}
#sponsors{
    height: 190px;
    max-width: 1000px;
    margin: 17px auto;
}

.spimage{
    height: 110px;
    margin: 20px;
}
#missionSection{
    height: 320px;
    width: 67%;
    margin: auto;
    background-color:rgba(205, 181, 181, 0.805);
    }
#missionSection h2{
        font-family: 'Poppins', sans-serif;
       text-align: center;
       padding-top: 12px;
       font-size: 36px;
        }
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 10px;
    height: 209px;
        }
.card h3{
     text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
        }
.card-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }      
.card-img{
            height: 131px;
            padding: 0 14px;
            margin: 5px 9px;
        }
.card-img img{
            height: inherit; 
        }

.card-content{
padding: 0 20px;
}
.card-content p{
    font-size: 18px;
}
#sponsorsSection h2{
    font-family: 'Poppins', sans-serif;
   text-align: center;
   padding-top: 12px;
   font-size: 36px;
    }
#footer{
    display: flex;
height: 60px;
background-color: black;
color: white;
align-items: center;
justify-content: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}